.display {
  display: grid;
  grid-template-rows: 175px 5fr 125px;
  grid-template-areas:
    " title "
    " main_content " 
    " nav_bar ";
}

.display > .title {
  grid-area: title;

  display: flex;
  align-items: center;
  justify-content: center;
}

.display > .main_content {
  grid-area: main_content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display > .main_content > div {
  padding: 25px;
}

.display > .nav_bar {
  grid-area: nav_bar;

  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
    "nav_bar_ul nav_bar_last_updated"
}

.display > .nav_bar > .last_updated {
  grid-area: nav_bar_last_updated;  

  display: grid;
  align-items: start;
  justify-content: center;
}

.display > .nav_bar > ul {
  grid-area: nav_bar_ul;
  
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.display > .nav_bar > ul > li {
  list-style-type: none;
  padding: 10px;
}